.container {
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313131;
    height: 70px;
}

.icon-logo {
    padding: 20px;
}

.left-logo {
    display: flex;
    background-color: #313131;
    padding: 0;
    margin: 0;
    border: 0;
}


.logo-name {
    color: #ffffff;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
}

.logonav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.top-nav li {
    display: inline;
    text-transform: uppercase;
    padding-right: 35px;

}

.top-nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
}

.top-nav li a:hover {
    color: #14b9d5;
}

.top-search {
    display: flex;
    background: #000;
    height: 70px;
}

.top-searchtext {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    font-size: 16px;
    transition: .4s;
    line-height: 70px;
    width: 0;
    color: #ffffff;

}

.top-btn {
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 70px;
    width: 68px;
    border: 0;
}

.top-searchicon {
    width: 20px;
    height: 20px;
    margin-right: 26px 27px;
    order: -1;
}

.top-search:hover .top-searchtext {
    width: 150px;
    padding: 0 6px;
}

.top-search:hover .top-btn {
    background-color: #000;
}

.search-btn {
    width: 20px;
    height: 20px;
    margin-right: 26px 27px;
    order: -1;
}

.header-bg {
    background: url("../img/bg/header-bg.jpeg") no-repeat fixed bottom center/cover;
    height: 369px;
}

.header-txt {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 163px;
    font-size: 27px;
    font-weight: bold;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    
}

.header-btn1 {
    color: #ffffff;
    background-color: #89ca62;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    height: 55px;
    width: 170px;
    border-radius: 3px;
    border: 0;
    margin-right: 20px;
    cursor: pointer;
}

.header-btn2 {
    color: #ffffff;
    background-color: #14b9d5;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    height: 55px;
    width: 170px;
    border-radius: 3px;
    border: 0;
    cursor:pointer;
}


.section1 {
    background-color: #f2f2f2;
}

.section1-h {

    padding-top: 49px;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-align: center;
    text-transform: uppercase;

}

.section1-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px;
    align-items: flex-start;
    padding-bottom: 72px;
}

.content-img {
    color: #353a3d;
    font-size: 18px;
    background-color: #ffffff;
    line-height: 25px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin: 15px;

}

.content-imgtxt {
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    padding: 20px;

}

.section1-column {
    display: flex;
    flex-direction: column;
}





.second-bg {
    background: url("../img/bg/second-bg.jpeg") center no-repeat fixed;
}

.clients-h1 {
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 44px;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 106px;
    text-align: center;
}

.decoration-line {
    margin-top: 87px;
    height: 3px;
    width: 60px;
    background-color: #18b4cf;
    border: 0;
    margin-bottom: 70px;
}

.popularclients {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.clients-grid {
    grid-column: 1/5;
}

.post-img {
    margin-right: 58px;
}

.last-post-h {
    color: #18b4cf;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-top: 49px;
}
.last-post {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    margin-top: 52px;   
}
.last-post > img {
    width: 100%;
}
.hotnews-title {
    color: #18b4cf;
    line-height: 37px;
    font-size: 27px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 47px;
}

.hotnews {
    display: grid;
    grid-template-rows: 259px 418px 418px 259px;
    grid-template-columns: repeat(4, 277px);
    grid-template-areas:
        "n-item1 n-item1 n-item1 n-item2"
        "n-item3 n-item3 n-item4 n-item4"
        "n-item5 n-item5 n-item6 n-item6"
        "n-item7 n-item8 n-item8 n-item8";
    row-gap: 43px;
    column-gap: 50px;
    justify-content: center;
   
}

.news-item1 {
    grid-area: n-item1;
    display: flex;
    background-color: #F9F7F7;

}

.news-item2 {
    grid-area: n-item2;
    background-color: #F9F7F7;
    
}

.news-item3 {
    grid-area: n-item3;
    background-color: #F9F7F7;
   
}

.news-item3 img {
    width: 100%;
}

.news-item4 {
    grid-area: n-item4;
    background-color: #F9F7F7;

}

.news-item4 img {
    width: 100%;
}

.news-item5 {
    grid-area: n-item5;
    background-color: #F9F7F7;

}

.news-item5 img {
    width: 100%;
}

.news-item6 {
    grid-area: n-item6;
    background-color: #F9F7F7;

}

.news-item6 img {
    width: 100%;
}

.news-item7 {
    grid-area: n-item7;
    background-color: #F9F7F7;

}

.news-item8 {
    grid-area: n-item8;
    display: flex;
    background-color: #F9F7F7;

}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 24px;
    margin-left: 7px;
}

.content-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #353A3D;
    text-align: end;
}

.content-title1 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    color: #353A3D;
}

.news-txt {
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

.news-content1 {
    padding: 13px 13px 0 13px;
    }
.footer{
    background-color: #000;
    margin-top: 77px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.footer-txt{
    font-size: 13px;
    color: #ffffff;
}
.navig-list{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
/* конечно можно было разделитель сделать псевдоелем.,но суть в js */
.navig-list a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
}
.scroll-top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 100px;
    height: 100px;
    background-color: #313131;
    border-radius:50%;
    border: none;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 7px;
    transform: 0.9;
    text-transform: uppercase;
    cursor: pointer;
  }